<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" ></script>
	
	<script src="controller.js">
	</script>
</head>
<body ng-controller="CartController">
	<!-- <div ng-app="">
		<p>Name: <input type="text" ng-model="name"></p>
		<p ng-bind="name"></p>
	</div> -->
	<h1>Your Order</h1>
	<div ng-repeat="item in items">
		<span>{{item.title}}</span>
		<input ng-model="item.quantity">
		<span>{{item.price | currency}}</span>
		<span>{{item.price * item.quantity | currency}}</span>
		<button ng-click="remove($index)">Remove</button>
	</div>

	<div>
		Title: <input type="text" ng-model="itemTitle" /><br />
		Price: <input type="text" ng-model="itemPrice"><br />
		<button ng-click="$log.log(itemPrice)">Add New Item</button>
	</div>
</body>
</html>