
<table class="table table-bordered">
	<tr>
		<th>Name</th>
		<th>Age</th>
		<th>Email</th>
	</tr>
	<tr ng-repeat="item in myData">
		<td>{{item.name}}</td>
		<td>{{item.age}}</td>
		<td>{{item.email}}</td>
	</tr>
</table>
Message : <span style="color: red;">{{message}}</span> <br/>