<form action="">
	<div class="form-group">
		<label for="">Name</label>
		<input type="text" ng-model="name">
	</div>
	<div class="form-group">
		<label for="">Age</label>
		<input type="number" ng-model="age">
	</div>
	<div class="form-group">
		
	</div>
</form>